@font-face {
  font-family: "Aptima";
  src: url(../fonts/Aptima.ttf);
}
@font-face {
  font-family: "AptimaItalic";
  src: url(../fonts/AptimaItalic.ttf);
}
@font-face {
  font-family: "GaramondPremrPro-Bd";
  src: url(../fonts/GaramondPremrPro-Bd.otf);
}
@font-face {
  font-family: "GaramondPremrPro-It";
  src: url(../fonts/GaramondPremrPro-It.otf);
}
@font-face {
  font-family: "GaramondPremrPro";
  src: url(../fonts/GaramondPremrPro.otf);
}
/* MEDIA QUERIES
 * -----------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  color: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 26.6666666667vw;
  }
}
@media (orientation: landscape) {
  html {
    font-size: 13.3333333333vw;
  }
}
@media (min-width: 641px) and (max-width: 992px) and (orientation: portrait) {
  html {
    font-size: 13.3333333333vw;
  }
}
@media print, (min-width: 993px) {
  html {
    font-size: 0.1333333333vw;
  }
}

body {
  font-family: "GaramondPremrPro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  min-width: 320px;
  margin: 0 auto;
  color: black;
  -webkit-text-size-adjust: 100%;
  font-size: 0.14rem;
}

input,
textarea {
  font-size: 16px;
}
@media print, (min-width: 993px) {
  input,
  textarea {
    font-size: 14px;
  }
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
  color: currentColor;
}

b,
strong,
em {
  font-weight: 600;
}

select {
  font-family: "GaramondPremrPro", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: url(../images/bg-bottom-pc.jpg) no-repeat bottom center/100% auto, url(../images/bg-top-pc.jpg) no-repeat top center/100% auto, url(../images/bg-center-pc.jpg) repeat-y center center/100% auto;
  padding: 3.8vw;
}
@media only screen and (max-width: 992px) {
  body {
    background: url(../images/bg-bottom-sp.jpg) no-repeat bottom center/100% auto, url(../images/bg-top-sp.jpg) no-repeat top center/100% auto, url(../images/bg-center-sp.jpg) repeat-y center center/100% auto;
    padding: 3vw 2.9vw;
  }
}

main {
  overflow: hidden;
}

a {
  transition: 0.3s all ease;
}

a:hover, a.animate:hover {
  transform: translateY(5px);
}

.vi {
  font-family: "GaramondPremrPro", Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.2;
}
@media only screen and (max-width: 992px) {
  .vi {
    font-size: 12px;
  }
}
.vi.large {
  font-size: 35px;
}
@media only screen and (max-width: 992px) {
  .vi.large {
    font-size: 16px;
  }
}

.en {
  font-family: "GaramondPremrPro-It", "GaramondPremrPro", Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 1.2;
}
@media only screen and (max-width: 992px) {
  .en {
    font-size: 12px;
  }
}

.vi-aptima {
  font-family: "Aptima", "GaramondPremrPro", Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 1.2;
}
@media only screen and (max-width: 992px) {
  .vi-aptima {
    font-size: 13px;
  }
}
.vi-aptima.large {
  font-size: 32px;
}
@media only screen and (max-width: 992px) {
  .vi-aptima.large {
    font-size: 13px;
  }
}

.en-aptima {
  font-family: "AptimaItalic", "GaramondPremrPro", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.2;
}
@media only screen and (max-width: 992px) {
  .en-aptima {
    font-size: 13px;
  }
}

.text-black {
  color: black;
}

.text-light-green {
  color: rgb(35, 72, 46);
}

.text-green {
  color: rgb(25, 54, 25);
}

@media only screen and (max-width: 992px) {
  .logo {
    width: 31.5%;
    height: auto;
  }
}

.button {
  display: block;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  background-color: rgba(240, 158, 35, 0.902);
  box-shadow: 0px 0px 3px 2px rgba(92, 84, 54, 0.15);
  width: 376px;
  padding: 16px 50px;
  line-height: 1;
}
@media only screen and (max-width: 992px) {
  .button {
    max-width: 50%;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    line-height: 0.3;
  }
}
.button .en {
  font-size: 20px;
}
@media only screen and (max-width: 992px) {
  .button .en {
    font-size: 10px;
  }
}

.card {
  display: flex;
  align-items: center;
  position: relative;
  padding: 70px 0;
  background: url(../images/dot.png) no-repeat top center/auto;
}
@media only screen and (max-width: 992px) {
  .card {
    flex-direction: column;
    padding: 0px 0;
    background: none;
  }
}
.card:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: calc(50% + 40px);
  transform: translateY(-50%);
  background: black;
  margin-left: -10px;
}
@media only screen and (max-width: 992px) {
  .card:before {
    top: auto;
    bottom: -10px;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    z-index: 2;
  }
}
.card:after {
  content: "";
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, #000 20%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 2px 10px;
  background-repeat: repeat-y;
  position: absolute;
  left: calc(50% + 40px);
  top: 0;
  margin-left: -1px;
  opacity: 0.7;
  z-index: -1;
}
@media only screen and (max-width: 992px) {
  .card:after {
    left: 50%;
    background-image: linear-gradient(to bottom, #000 30%, rgba(255, 255, 255, 0) 0%);
    background-size: 1px 6px;
  }
}
.card:first-of-type {
  background: none;
}
@media print, (min-width: 993px) {
  .card:first-of-type:after {
    top: 50%;
    height: 50%;
  }
}
@media print, (min-width: 993px) {
  .card:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
}
@media print, (min-width: 993px) {
  .card:nth-of-type(2n):before, .card:nth-of-type(2n):after {
    left: calc(50% - 40px);
  }
}
@media print, (min-width: 993px) {
  .card:nth-of-type(2n) .card-info {
    padding-left: 8%;
    padding-right: 80px;
    text-align: right;
  }
}
@media print, (min-width: 993px) {
  .card:nth-of-type(2n) .card-info .en {
    margin-left: auto;
  }
}
.card:nth-of-type(2n) .decor {
  left: auto;
  right: 45%;
}
.card:last-of-type:after {
  height: 50%;
  top: 0;
}
@media only screen and (max-width: 992px) {
  .card:last-of-type:after {
    height: 100%;
  }
}
.card-img {
  width: 50%;
  border-radius: 23px;
  aspect-ratio: 853/481;
  overflow: hidden;
}
@media only screen and (max-width: 992px) {
  .card-img {
    width: 100%;
    border-radius: 16px;
  }
}
.card-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  height: 100%;
}
.card-info {
  width: 50%;
  padding-right: 8%;
  padding-left: 80px;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 992px) {
  .card-info {
    width: 100%;
    padding: 0;
    display: flex;
  }
}
.card-info .en {
  width: 80%;
}
@media only screen and (max-width: 992px) {
  .card-info .en {
    width: 50%;
  }
}
.card .decor {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 47%;
  width: 30%;
  bottom: -70px;
}
@media only screen and (max-width: 992px) {
  .card .decor {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .card p {
    padding: 10px 10px 20px;
    width: 50%;
  }
}
.card p:first-of-type {
  text-align: right;
}
.card p + p {
  margin-top: 20px;
}
@media only screen and (max-width: 992px) {
  .card p + p {
    margin-top: 0px;
  }
}

.button-ticket {
  display: block;
  border-style: solid;
  background-color: rgba(37, 75, 46, 0.902);
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 0px 0px 3px 2px rgba(92, 84, 54, 0.15);
  padding: 16px 6vw;
  color: white;
}
@media only screen and (max-width: 992px) {
  .button-ticket {
    width: 50vw;
    border-radius: 8px;
    padding: 10px 6vw;
  }
}

.button-gallery {
  display: inline-flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 30px auto 0;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  background-color: rgba(37, 75, 46, 0.9);
  box-shadow: 0px 0px 4.2px 0.8px rgba(92, 84, 54, 0.47);
  background-blend-mode: color-dodge;
}
@media only screen and (max-width: 992px) {
  .button-gallery {
    border-radius: 8px;
    margin: 10px auto 0;
  }
}

.section-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 180px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .section-intro {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section-intro:before {
  content: "";
  background: url(../images/m-1.png) no-repeat bottom center/100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-blend-mode: overlay;
  opacity: 0.2;
  z-index: -1;
}
@media only screen and (max-width: 992px) {
  .section-intro:before {
    background: url(../images/m-m-1.png) no-repeat bottom center/100% auto;
  }
}
.section-intro p:not(.text-black) {
  color: rgb(25, 54, 25);
}
.section-intro p {
  text-align: justifyCenter;
  -moz-text-align-last: center;
       text-align-last: center;
  max-width: 58%;
  margin-top: 50px;
}
@media only screen and (max-width: 992px) {
  .section-intro p {
    margin-top: 30px;
    max-width: calc(100% - 32px);
  }
}
.section-intro p + p {
  margin-top: 20px;
}
@media only screen and (max-width: 992px) {
  .section-intro p + p {
    margin-top: 6px;
  }
}
.section-intro .button {
  margin-top: 50px;
}
@media only screen and (max-width: 992px) {
  .section-intro .button {
    margin-top: 30px;
  }
}

.section-story {
  padding: 83px 37px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .section-story {
    padding: 30px 16px;
  }
}
.section-story:before {
  content: "";
  background: url(../images/m-2.png) no-repeat bottom center/100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-blend-mode: overlay;
  opacity: 0.2;
  z-index: -1;
}
@media only screen and (max-width: 992px) {
  .section-story:before {
    background: url(../images/m-m-2.png) no-repeat bottom center/100% auto;
  }
}

.section-event {
  padding: 90px 0 140px;
  text-align: center;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .section-event {
    padding: 20px 0 60px;
  }
}
.section-event:before {
  content: "";
  background: url(../images/m-3.png) no-repeat bottom center/100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-blend-mode: overlay;
  opacity: 0.2;
  z-index: -1;
}
@media only screen and (max-width: 992px) {
  .section-event:before {
    background: url(../images/m-m-3.png) no-repeat bottom center/100% auto;
  }
}
.section-event-schedule {
  margin-top: 50px;
}
@media only screen and (max-width: 992px) {
  .section-event-schedule {
    margin-top: 20px;
  }
}
.section-event .times {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  gap: 0 5vw;
  position: relative;
  margin-top: 30px;
  margin-bottom: 70px;
  z-index: 1;
  background: url("../images/line.png") no-repeat top center/auto, url("../images/line.png") no-repeat bottom center/auto;
}
@media only screen and (max-width: 992px) {
  .section-event .times {
    flex-direction: column;
    background-size: 90% auto;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
.section-event .times::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/time.png) no-repeat center center/auto;
  background-blend-mode: overlay;
  opacity: 0.27;
  z-index: -1;
}
.section-event .times li {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 992px) {
  .section-event .times li + li {
    margin-top: 20px;
  }
}
.section-event p + p {
  margin-top: 20px;
}

.section-gallery {
  padding-bottom: 510px;
  padding-top: 90px;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .section-gallery {
    padding-bottom: 200px;
    padding-top: 20px;
  }
}

.animate {
  opacity: 0;
}
.animate.animated {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}